
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    background-image: url('Travel.jpg');
    background-size: cover;
    background-position: center;
    }
  #container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(2, 251, 135, 0.9); /* Add opacity to improve readability */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(50, 129, 38, 0.1);
  }
  
  h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(39, 208, 30);
    background-color: #315fa0;
  }
  input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  }
  button {
    padding: 10px 20px;
    background: radial-gradient(circle at 50.4% 50.5%, rgb(251, 32, 86) 0%, rgb(135, 2, 35) 90%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background: linear-gradient(181deg, rgb(26, 187, 15) 15%, rgb(97, 149, 219) 158.5%);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px;
    margin-bottom: 5px;
    background: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  